version: "3.8"

services:

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: odoo
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo123
    volumes:
      - postgres_data:/var/lib/postgresql/data

  odoo:
    image: odoo:19
    container_name: odoo_erp
    depends_on:
      - db
    ports:
      - "8069:8069"
    environment:
      HOST: db
      USER: odoo
      PASSWORD: odoo123
    volumes:
      - odoo_data:/var/lib/odoo

  metabase:
    image: metabase/metabase
    container_name: metabase_bi
    ports:
      - "3000:3000"
    depends_on:
      - db

  n8n:
    image: n8nio/n8n
    container_name: n8n_automation
    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n

  api:
    build: ./fastapi
    container_name: payments_api
    ports:
      - "8000:8000"

volumes:
  postgres_data:
  odoo_data:
  n8n_data:
